body{
    font-size: 40px;
    padding: 0px;
    margin: 0px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
main{
    margin: 0px;
    position: relative;
    bottom: 50px;
}

#central{
    width: 1300px;
    height: 482px;
    margin: auto;
    /* margin-top: 250px; */
    vertical-align: central;
    /* position: relative; */
}

#gameboard{
    margin: 0px;
    display: block;
}
tr{
    margin-left: 50px;
    padding: 0;
}
td{
    border-style: solid;
    border-color: #4DB6AC;
    border-radius: 15px;
    background-color: #ffffff;
    position: initial;
    color: #ef6c00;
    margin: 0px;
    height: 70px;
    width: 200px;
    text-align: center;
}
td:hover{
    background-color: lightgray;
}

.category{
    width: 300px;
}
.question{
    border-style: solid;
    border-color: #4DB6AC;
    border-radius: 15px;
    background-color: #4DB6AC;
    color: #ef6c00;
    width: 874px;
    height: 334px;
    /*display: none;*/
}
iframe{
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    border-style: solid;
    border-color: #4DB6AC;
    border-radius: 15px;
    width: 900px;
    height: 400px;
    display: none;
    position: static;
}
footer{
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    background-color: #4DB6AC;
    height: 20px;
    margin: 0;
}
#home{
    font-size: 30px;
    border-style: solid;
    border-color: white;
    border-radius: 15px;
    background-color: #ffffff;
    color: #ef6c00;
    margin: 0px;
    height: 40px;
    width: 120px;
    text-align: center;
    bottom: 90px;
    right: 220px;
    position: absolute;
    display: none;
}
#home:hover{
    background-color: lightgray;
    border-color: lightgray;
}

@media screen and (max-width: 1400px) {
    body{
        font-size: 20px;
    }
    #central{
        width: 650px;
        height: 272px;
    }

    #gameboard{
        margin: 0px;
    }
    td{
        border-radius: 7px;
        width: 100px;
        height: 35px;
    }

    iframe{
        margin: auto;
        margin-top: 5px;
        margin-bottom: 5px;
        border-radius: 7px;
        width: 450px;
        height: 220px;
    }

    footer{
        height: 10px;
    }

    #home{
        font-size: 15px;
        border-radius: 15px;
        height: 20px;
        width: 60px;
        bottom: -15px;
        right: 105px;
    }
}